#可以通过配置文件lombok.config来定制lombok：一次性配置lombok的属性可以服务整个项目或者工作台。
#需要注意该配置文件在lombok1.14+方可使用

#指明lombok的根目录为当前配置文件所在目录
config.stopBubbling = true

#如果实体发生了继承，默认情况下 @ToString 和 @EqualsAndHashCode 都不会将父类的属性加入计算，如果要将父类属性也加入计算，
#可以配置 callsuper 的值为 true：@ToString(callSuper=true) 和 @EqualsAndHashCode(callSuper=true)
lombok.tostring.callsuper=CALL
lombok.equalsandhashcode.callsuper=CALL
# 开启链式开发
lombok.accessors.chain=true
